.gridestacionamiento{
    display: grid; 
    grid-template-columns: repeat(74, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 4px; 
}

.car{
    display: flex;
    justify-content: center;
    align-items: center;
}